<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <clientCredentials>
                        <clientCertificate findValue="WCFKamilClient" storeLocation="CurrentUser"
                            storeName="My" x509FindType="FindBySubjectName" />
                      <serviceCertificate>
                        <authentication certificateValidationMode="PeerOrChainTrust"/>
                      </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsHttpEndpoint">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8733/Design_Time_Addresses/sdo_wcf/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />-->
            <endpoint address="http://localhost:8733/Design_Time_Addresses/sdo_wcf/Servicews/"
                behaviorConfiguration="NewBehavior0" binding="wsHttpBinding"
                bindingConfiguration="wsHttpEndpoint" contract="ServiceReference1.IService1"
                name="wsHttpEndpoint">
                <identity>
                  <certificateReference storeLocation="CurrentUser" findValue="CN=WCFKamilServer" />
                    <!--<certificate encodedValue="AwAAAAEAAAAUAAAA/sKVzu8gb4XVVECCdBSVMRRO5QMgAAAAAQAAAO8BAAAwggHrMIIBWKADAgECAhCjlbVtUv1FrkJgEH3wCCs2MAkGBSsOAwIdBQAwEzERMA8GA1UEAxMIa2FtaWxUTVAwHhcNMTMwNjA5MTc1NjMyWhcNMzkxMjMxMjM1OTU5WjATMREwDwYDVQQDEwhrYW1pbFRNUDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAomyb+9R12kgXKysUJfHnx6X1D8DKlyolSA3+LfrEodcQSQ4ZcukDIAkhkWLjAXpkSlOExvLznpI8JbACStMxMM00+rnViHYOsA5RrFcSa2SM80D3AFSvLr7mmuksozsC8lzQC5rmzmbXPAmkIZoiRoF00778x+NmcYAxifOK2VsCAwEAAaNIMEYwRAYDVR0BBD0wO4AQVBlDAuNVhRmKtG3/GtVwL6EVMBMxETAPBgNVBAMTCGthbWlsVE1QghDEScgWkKexlUu8CRqXRHzEMAkGBSsOAwIdBQADgYEAIeIGG5h3Fn6Nbp0ohDFBTokazVErTrFXce3AumaeqVcP/eWnqtxBDnBsUNKuRq6WMpoXMy5KOcfwquRfmVVGxiN/iLMQy7OT91DCpxqT4pw3H4i1QYQnld3944jjTCb1e7nWel2lVbWlUbgAqnT5EMGd0ohuqU8Bt2Be2V02qlI=" />-->
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>