<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInternalServices" />
                <binding name="BasicHttpBinding_IRemotingDB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/sdo_wcf2/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInternalServices"
                contract="InternalServiceReference1.IInternalServices" name="BasicHttpBinding_IInternalServices" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/sdo_wcf2/Service2/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemotingDB"
                contract="RemotingServiceReference1.IRemotingDB" name="BasicHttpBinding_IRemotingDB" />
        </client>
    </system.serviceModel>
</configuration>